@import url('https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap');

body{
    font-family: 'Public Sans', sans-serif;
    font-size: 0.875rem;
    font-weight: 300;
    color: hsl(233, 8%, 62%);
    background-color: hsl(0, 0%, 98%);
}

.btn-primary{
    background: linear-gradient(3deg,rgba(44, 182, 216, 1) 0%, rgba(50, 210, 93, 1) 100%);
    border: none;
    border-radius: 50rem;
    padding: 0.75rem 2rem;
    font-size: 1rem;
    font-weight: 600;
}

h1, h2, h3, h5{
    color: hsl(233, 26%, 24%);
}

h1{
    font-size: 2.5rem;
    font-weight: 400; 
}

h2{
    font-size: 1.80rem;
    font-weight: 400;
}

h3{
    font-size: 1rem;
}

.why-choose{
    background-color: hsl(220, 16%, 96%);
}

.card-body p{
    color: hsl(233, 8%, 62%);
}

footer{
    background-color: hsl(216, 53%, 9%);
    color: hsl(0, 0%, 100%);
    padding: 3rem 0;
}

footer ul li a{
    color: hsl(0, 100%, 100%)
}