@import url('https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap');

body{
    font-family: 'Public Sans', sans-serif;
    font-size: 0.875rem;
    font-weight: 300;
}

h1{
    font-size: 2.5rem;
    font-weight: 400;
}

h2{
    font-size: 1.80rem;
    font-weight: 400;
}

.why-choose{
    background-color: hsl(220, 16%, 96%);
}